<div class='bc-item'>
    <div class='bc-circle' ng-click='dashboard()'>
        <span title='{{title.dashboard}}' class='bc-entry'>
            <div class='bc-title bc-title-one'>{{title.dashboard}}</div>
        </span>
    </div>
</div><div class="bc-line"></div>



<div class='bc-item'>
    <div class='bc-circle' ng-click='workbench()'>
        <span title='{{title.bench}}' data-action='bench' class='bc-entry'>
            <div class='bc-title bc-title-two'>{{title.bench}}</div>
        </span>
    </div>
</div><div class="bc-line"></div>


<div class='bc-item'>
    <div class='bc-circle' ng-click="graph()">
        <span title='{{title.chart}}' data-action='chart' class='bc-entry'>
            <div class='bc-title bc-title-three'>{{title.chart}}</div>
        </span>
    </div>
</div>
</div><div class="bc-line"></div>

<div class='bc-item'>
    <div class='bc-circle'>
        <span title='{{title.manage}}' data-action='chart' class='bc-entry bc-active'>
             <div class='bc-title bc-title-four'>{{title.manage}}</div>
        </span>
    </div>
</div>
